.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.42857143;
  background-color: #fcf8ee;
}

.list-text {
  font-size: 3em;
  color: black;
}

.list-text2 {
  font-size: 2.5em;
  color: white;
}

.section1-text {
  color: white;
}

.section2-text {
  color: black;
}

.sectiondescription {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: auto;
  position: relative;
  padding: 2% 2%;
  margin: 9 5 10px;
}

.sectiontitle {
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  top: -0.4rem;
  display: grid;
  /* box-shadow: 3px 3px tan, -1em 0 0.4em tan; */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;
  font-size: 1em;
  font-weight: normal;
  font-weight: 100;
}

.footer:before {
  flex: 1;
  text-align: center;
  font-size: 1.5em;
  padding: 5px 0 5px 0;
}

